{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "react/react-in-jsx-scope": "off", // Disable this rule if using React 17+
    "react-internal/safe-string-coercion": "off",
    "react-internal/no-production-logging": "off",
    "react-internal/prod-error-codes": "off"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect" // Automatically detect the version of React
    }
  },
  "env": {
    "browser": true,
    "es2021": true
  }
}
